
extends template

block content

  .panel.panel-default
    .panel-heading Folders

    - if (typeof(username) !== 'undefined'){
      table.table.table-striped
        thead
          tr
            th Col 1
            th Col 2
            th Col 3
        tbody
          each user, i in users
            include users/user
          else
            td Sorry no records
    -}
