head
  title GitApplier - #{title}
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
  script(src='https://use.fontawesome.com/8ef1f18032.js')
  link(rel='stylesheet', href='/public/css/style.css')
    
  block js-object-includes
