mixin modalForm(title, action, method)
  #addWidgetModal.modal.modal-wide
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.modal-title= title
        .modal-body
          form.form-horizontal#add(role='form', action= action, method= method)      
            if block
              block
            else
              p No content provided
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='submit', form='add') Save changes
