doctype html
html
  block tools-list
    -var selected = 'dashboard';
  
  include header
  body

  #top-nav.navbar.navbar-inverse.navbar-static-top
     .navbar-header
       button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
         span.icon-toggle
       a.navbar-brand(href='/') gitapplier
     .navbar-collapse.collapse
       ul.nav.navbar-nav.pull-right
         li.dropdown
           a.dropdown-toggle(role='button', data-toggle='dropdown', href='#')
             strong Admin
             span.caret
           ul#g-account-menu.dropdown-menu(role='menu')
             li
               a(href='#') My Profile
         li
           a(href='#') Log out
    .container
      .row
        .col-md-3
          include tools
         
        .col-md-9
          // Right
          a(href='#')
            strong
              span.glyphicon.glyphicon-dashboard
              |  My Dashboard
          block addWidgetButton
          hr
         
          block content

    footer
      .container
        .col-md-3
        .col-md-9
          | gitapplier
    modals
      include modal.jade
      +modalForm('Empty modal', 'unassigned action', 'unassigned method')
        block addWidgetModalForm
      
