-var menu = { 'dashboard': '/', 'projects': '/projects', 'settings': '/settings' };

strong Tools
hr
ul.nav.nav-pills.nav-stacked
  li.nav-header
  each val, key in menu
   if selected === key
     li.active
       a(href=val)=key
   else 
     li
       a(href=val)=key
  
