extends ../../modal.jade

block modalFormData
  input#formTargetURL(type='hidden', value='test')
  .form-group
    label.col-sm-2.control-label(for='name') Repository name
    .col-sm-10
      input#name.form-control(name='name' placeholder='Name', required='')
  .form-group
    label.col-sm-2.control-label(for='url') Repository URL
    .col-sm-10
      input#url.form-control(name='path' placeholder='http://user@password:host.com/repository_path')
  .form-group
    label.col-sm-2.control-label(for='username') Username
    .col-sm-10
      input#username.form-control(name='username' placeholder='Username', required='')
  .form-group
    label.col-sm-2.control-label(for='password') Password
    .col-sm-10
      input#password.form-control(name='password' type='password', placeholder='Password', required='')
