tr
  td.fa-3
    a(href='/project/'+project._id)
      i.fa.fa-eye.fa-3
    a(href='/project/'+project._id)
      i.fa.fa-trash.fa-3
    
  td
    a(href='/project/'+project._id) #{project.name}
  td
    .span.badge.pull-right #{project.repositories.length}
