
extends ../template

block js-object-includes
  script(src='/public/js/modals.js')

block tools-list
  -var selected = 'projects';

block addWidgetButton
  a.btn.btn-primary.pull-right(title='Add Widget', data-toggle='modal', href='#addWidgetModal')
    span.glyphicon.glyphicon-plus-sign
    |  Add Project

block content

  .panel.panel-default
    .panel-heading Report
    table.table.table-striped
      thead
        tr
          th Actions
          th Title
          th Repositories
      tbody
        each project, i in projects
          include project-table-row
        else
          td Sorry no records

block addWidgetModal
  #addWidgetModal.modal.modal-wide
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.modal-title Add Project
        .modal-body
            form.form-horizontal#add(role='form', action='/api/v1/projects/project', method='POST')          
             .form-group
               label.col-sm-2.control-label(for='projectName') Project name
               .col-sm-10
                 input#projectName.form-control(name='name', type='text', placeholder='My project', required='').col-sm-10
      
        br
        .modal-footer
          button.btn.btn-default(href='#', data-dismiss='modal') Close
          button.btn.btn-primary(type='submit', form='add') Save changes
