
extends ../template

block js-object-includes
  script(src='/public/js/modals.js')

block tools-list
  -var selected = 'projects';

block addWidgetButton
  a.btn.btn-primary.pull-right(title='Add Widget', data-toggle='modal', href='#addWidgetModal')
    span.glyphicon.glyphicon-plus-sign
    |  Add Repository

block content

  .panel.panel-default
    .panel-heading Repositories
    table.table.table-striped
      thead
        tr
          th Name
          th Url
          th Col 3
      tbody
        each repo, i in project.repositories
          include repo-table-row
        else
          td Sorry no records

block addWidgetModalForm
  input#formTargetURL(type='hidden', value='test')
  .form-group
    label.col-sm-2.control-label(for='name') Repository name
    .col-sm-10
      input#name.form-control(name='name' placeholder='Name', required='')
  .form-group
    label.col-sm-2.control-label(for='url') Repository URL
    .col-sm-10
      input#url.form-control(name='path' placeholder='http://user@password:host.com/repository_path')
  .form-group
    label.col-sm-2.control-label(for='username') Username
    .col-sm-10
      input#username.form-control(name='username' placeholder='Username', required='')
  .form-group
    label.col-sm-2.control-label(for='password') Password
    .col-sm-10
      input#password.form-control(name='password' type='password', placeholder='Password', required='')  
